{% extends "base.html" %} {% block content %} {% load static %}
<section class="content">
    <header>
        <img src="{% static 'img/twitter.png' %}" alt="logo">
        <a href="#">Edit</a>
    </header>

    <section class="post_form">
        <img src="{% static 'img/user.png' %}" alt="">  
            <form action="/edit/{{post.id}}/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="post_user">
                <input type="text" name="name" placeholder="Name" value="{{post.name}}" />
                    <div class="post_user">
                    <input class="textarea" name="body" placeholder="What's happening" value="{{post.body}}" />
                    </div>
            {% if post.image.url %}

                <img src="{{post.image.url}}" style="width:100px; height:100px;">

             {% endif %} 

            
                </div>
                <input id="uploadfile" type="file" name="image" /><br>
            <div class="edit_btn">
                <a href="/">
                    <input  type="button" value="Cancel" />
                </a>
                <input  type="submit" value="Update" />
            </div>

            </form>

    </section>

</section>
{% endblock %}